@media only screen and (min-width: 768px) {
    #myButton {
    display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
    display: flex;
    justify-content: flex-end;
    }

    ul.menuLinks a:hover {
    background-color:rgba(255, 255, 255, 0.2);
    }

    .chamber-name {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        color: white;
        text-transform: capitalize;
        margin: 0px;
    }


        #toggle-view {
            font-size: 14px; /* Slightly smaller font on mobile */
            padding: 8px; /* Adjust padding on mobile */
        }
    }








