.chamber-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.chamber-name {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    color: #3E2723;
    margin-left: 20px;
}

body {
    background-color: #F5DEB3; /* Light Wheat */
    color: #37474F; /* Charcoal Gray */
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D4A373; /* Deep Earth Brown */
    padding: 10px;
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 50px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    position: relative; /* Adjust position if needed */
    z-index: 100;
}

#myButton::before {
    content: "\2630"; /* Hamburger icon */
    font-size: 2rem;
    color: #fff;
}

#myButton.open::before {
    content: "x"; /* Close icon */
}

ul.menuLinks {
    list-style-type: none;
}

ul.menuLinks li a {
    padding: .75rem 2vw;
    display: block;
    text-decoration: none;
    color: #3e2723;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

li.current-menu-item a {
    background-color: rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    flex-direction: column;
    transition: max-height 0.5s ease-out;
}

nav ul {
    display: none;
}

nav.open {
    display: block;
}

nav.open ul {
    display: block;
}

button {
    background-color: #A67C52; /* Saddle Leather Tan */
    color: #ffffff; /* White for readability */
}

#members-container {
    display: grid; /* Default to grid layout */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between items */
}

.member-card {
    background-color: #f9f9f9; /* Light background for cards */
    border: 1px solid #ccc; /* Border around cards */
    padding: 15px; /* Padding inside cards */
    text-align: center; /* Center text */
}

.member-list-item {
    border-bottom: 1px solid #ccc; /* List item border */
    padding: 10px 0; /* Padding for list items */
}

.member-list-item img {
    width: 50px; /* Smaller images for list items */
    height: auto; /* Maintain aspect ratio */
}

footer {
    background-color: #8BC34A; /* Pampas Grass Green */
    text-align: center;
    padding: 10px 0;
}
