/* @MEDIA QUERIES FOR ---HEADER BUTTON */

@media (min-width: 768px) {
    #myButton {
        display: none; /* Hide the button */
    }
}


/* @MEDIA QUERIES FOR ---NAV */
@media (min-width: 768px) {
    #nav-links {
        display: flex;
        gap:20px;
    }

    #nav-links.show {
        display: flex; /* Keep it as flex when shown */
    }

    nav ul li {
        display: inline; /* Ensure list items are inline for larger viewports */
    }

    nav ul li a {
        color: white; /* Maintain your link color */
        text-decoration: none; /* Ensure no underline on links */
    }

    nav ul li a:hover {
        color: black; /* Maintain your hover effect */
    }

}
