

body {
    background-color: #D3D3D3; /* Light Gray */
    font-family: 'Roboto', sans-serif;
    color: #333; /* Dark gray text for contrast */
}

header, footer {
    background-color: #008080; /* Teal */
    color: white; /* White text for readability */
}



/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 15px;    
    margin-right: 35px;
}

.header-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;    
    padding:10px;
    
    
}

.header-container h1 {
    padding-right: 15px;
    font-size: 24px;
}

/* Styling the Hamburger Menu Button */
#myButton {
    display: block;
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    font-size: 24px; 
    color: white; 
    padding: 10px; 
}

#myButton:hover {
    color: #FFD700; 
}

#myButton span {
    font-weight: bold; 
}

/* @MEDIA QUERIES FOR ---HEADER BUTTON */

@media (min-width: 768px) {
    #myButton {
        display: none; /* Hide the button */
    }
}


.nav-links {
    list-style-type: none;
}

nav ul li a {
    color: #FFD700; /* Gold for links */    
    
}

nav ul li a:hover {
    color: #FFAA00; /* Slightly darker gold for hover effect */
}

/* @MEDIA QUERIES FOR ---HEADER */

@media (max-width: 767px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        
        
    }

    nav ul.show {
        display: block;
        color: white;
        background-color: #006666;
        text-align: center;
        width: 75%;
        border-radius: 15px;
        max-height: 300px;
        padding: 15px;
        
        }

    nav ul.show li:hover {
            color: #FFAA00; /* Slightly darker gold for hover effect */
        }
        
    }

    


nav ul.show li {
    margin-bottom: 25px;
}

nav ul.show li:last-child {
    margin-bottom: 0;
}


@media (min-width: 768px) {
    nav ul {
        display: flex;
        gap:20px;
    }
}