

body {
    background-color: #D3D3D3; /* Light Gray */
    font-family: 'Roboto', sans-serif;
    color: #333; /* Dark gray text for contrast */
}

header, footer {
    background-color: #008080; /* Teal */
    color: white; /* White text for readability */
}



/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    
}

.header-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    
}

.nav-links {
    list-style-type: none;
    color: red;
  
    
}

nav ul li a {
    color: #FFD700; /* Gold for links */
}

nav ul li a:hover {
    color: #FFAA00; /* Slightly darker gold for hover effect */
}

/* @MEDIA QUERIES FOR ---HEADER */

@media (max-width: 767px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    nav ul.show {
        display: block;
        color: black;
        background-color: #f0f0f0;
        text-align: center;
    }
}

@media (min-width: 768px) {
    nav ul {
        display: flex;
    }
}