body {
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    text-align: center;
    
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;

}

section {

    background-color: rgb(200, 199, 227);
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 10px;
    width: 340px;
    text-align: center;
}

section h2 {
    font-size: 1.5 rem;
    color: rgb(39, 39, 143);
    letter-spacing: -2px;
    font-weight: bold;
}

section p {
    font-weight: bold;

}

img {
    align-self: center;margin: 10px;
    box-shadow: 5px 5px 25px rgba(0.7, 0.7, 0.7, 0.7); /* Darker shadow with more opacity */
    
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 10px;
    max-width: 1200px;
    width: 100%;
}

@media (min-width: 768px) {
    #cards {
        grid-template-columns: repeat(auto-fit, minmax(768px, 2fr));
    }

    section h2 {
        font-size: 1.5 rem;
        color: rgb(39, 39, 143);
        letter-spacing: -2px;
        font-weight: bold;
    }
    
}

@media (min-width: 1024px) {
    #cards {
        grid-template-columns: repeat(3, 1fr);
    }

    section h2 {
        font-size: 1.5 rem;
        color: rgb(39, 39, 143);
        letter-spacing: -2px;
        font-weight: bold;
    }
}
